<launch>


    <param name="robot_description" command="$(find xacro)/xacro '$(find kuka_youbot)/xacro/robot.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_youbot)/rviz/pick_place.rviz" required="true" />

    <node pkg="kuka_youbot" type="end_effector_pose.py" name="end_effector_pose_Node" output="screen"/>
    <!-- <node pkg="kuka_youbot" type="marker.py" name="marker_Node"/> -->
    <node pkg="kuka_youbot" type="path.py" name="path_Node"/>
    <node pkg="kuka_youbot" type="spawn_markers.py" name="spwan_markers_Node"/>
    <node pkg="kuka_youbot" type="joint_states.py" name="joint_states_Node"/>
    

    <!-- <node pkg="rqt_graph" name="rqt_graph" type="rqt_graph"/> -->
  
    
    
  
  </launch>
  