<launch>
  
    <param name="robot_description" command="$(find xacro)/xacro $(find kuka_youbot)/xacro/single_wheel.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_youbot)/rviz/wheel_display.rviz" required="true"/>
  </launch>
  